<div class="navbar navbar-fixed-top navbar-inverse" ng-show="user" ng-cloak>
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-repeat="link in links" ng-class="{ active: link.active }">
                <a ng-href="{{ link.href }}"><i ng-class="link.icon"></i> {{ link.name }}</a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="active">
                <a href="#">
                    <span class="icon-stack">
                        <i ng-show="user.isAdmin" class="icon-sun icon-stack-base"></i>
                        <i class="icon-user"></i>
                    </span>
                    {{ user.displayName }}
                </a>
            </li>
        </ul>
    </div>
</div>
