<div class="navbar navbar-fixed-top navbar-inverse" ng-show="isLoggedIn()" ng-cloak>
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-repeat="link in links" ng-class="{ active: link.active }">
                <a ng-href="{{ link.href }}"><i ng-class="link.icon"></i> {{ link.name }}</a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="active dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-stack">
                        <i ng-show="isAdmin()" class="icon-sun icon-stack-base"></i>
                        <i class="icon-user"></i>
                    </span>
                    {{ getUserName() }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="editProfile()"><i class="icon-edit"></i> Edit my profile</a>
                    </li>
                    <li>
                        <a ng-click="logout()"><i class="icon-signout"></i> Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
